<div data-recipe-creation-target="template">
  <%= form.simple_fields_for :recipe_ingredients, child_index: "TEMPLATE_RECORD" do |i| %>
      <%= i.input :quantity %>
      <%= i.input :unit %>
      <%= i.collection_select :ingredient_id, Ingredient.all, :id, :name%>
  <% end %>
</div>
