<h1>Ajouter une recette</h1>

<% @recipes.each do |recipe| %>
  <p><%=recipe.title %></p>
  <ul>
    <% recipe.recipe_ingredients.each do |ri| %>
      <li><%= ri.quantity %> <%= ri.unit %> <%= ri.ingredient.name %></li>
    <% end %>
  </ul>
<% end %>
